@import 'reset.css';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


.site {
    margin: 30px;
    max-width: 1440px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*  */
/* header */
/*  */
header {
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navClass {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    list-style: none;
}

.link {
    text-decoration: none;
    color: rgb(255, 96, 96);
    font-size: 24px;
    margin-left: 20px;
}

.link:hover {
    text-decoration: underline;
}

/*  */
/* header */
/*  */

/*  */
/* Section pubSite */
/*  */

.pubSiteSection {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 223px; */
    margin-bottom: 43px;
    margin-top: 30px;
}

.titlePubSite {
    
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 400;
    position: absolute;
}

.photoPubSite {
    width: 100%;
    height: auto;
    aspect-ratio: 5/1;
    border-radius: 25px;
    font-size: 48px;
    background-color: rgb(0, 0, 0);
    filter: brightness(0.7);
    object-fit: cover;
}


/*  */
/* Section pubSite */
/*  */

/*  */
/* Section cardTable */
/*  */

.cardTable {
    border-radius: 25px 25px 0px 0;
    background-color: rgb(246, 246, 246);
    padding: 50px;
}

.card {
    display: flex;
    width: 30%;
    height: auto;
    aspect-ratio: 100/100;
    border-radius: 10px;
    color: white;
    background: rgb(255, 0, 0) linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.containerItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}


article {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 28%;
}

.itemTitle {
    width: 150px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 20px 20px;
    line-height: 30px;
}

/*  */
/* Section cardTable */
/*  */

/*  */
/* Footer */
/*  */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: black;
    height: 209px;
    color: white;
}

.footerLogo {
    width: 130px;
    padding-bottom: 20px;
}

.copyrightFooter {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
}

/*  */
/* Footer */
/*  */










/*  */
/*  */
/* responsive */
/*  */
/*  */

@media screen and (max-width: 950px) {



    .link {
        text-decoration: none;
        color: rgb(255, 96, 96);
        /* font-size: 20px; */
    }

    .pubSiteSection {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .titlePubSite {
        font-size: 30px;
    }

    .cardTable {
 
        padding: 20px 20px 20px 20px;
    }

    .card {
        width: 47%;
    }
}


@media screen and (max-width: 615px) {
    .logoPrincipal {
        width: 170px
    }

    .cardTable {
        padding: 10px 10px 10px 10px;
    }

    .pubSiteSection {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .photoPubSite {
        border-radius: 10px;
    }

    .titlePubSite {
        font-size: 24px;
    }

    footer {
        justify-content: center;
        align-items: center;
    }

    .copyrightFooter {
        font-size: 12px;
    }

    .link {
        font-size: 12px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 479px) {

    .site {
        margin-left: 20px;
        margin-right: 20px;
    }





    .photoPubSite {
        margin-top: 80px;
        height: 100px;
    }

    .pubSiteSection {
        height: 0;
        margin-bottom: 43px;
        margin-top: 15px;
    }

    .titlePubSite {
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        padding-top: 80px;
    }

    .cardTable {
        padding: 60px 0px 50px 0px;
        background-color: white;
    }

    .card {
        width: 100%;
        aspect-ratio: 1.4/1;
    }

    @media screen and (max-width: 407px) {
        header {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .link {
            margin-left: 0px;
        }

        .navClass {
            max-width: 190px;
            justify-content: space-around;
        }
    }


}